<div class="wrapper">
  <div class="container">
    <canvas id="wheel"></canvas>
    <button id="spin-btn">Spin</button>
    <img src="img/spinner-arrow-.svg" alt="spinner-arrow" />
  </div>
  <div id="final-value">
    <p>Click On The Spin Button To Start</p>
  </div>
  <div id="code-value">
    <p>VOUCHER CODE</p>
  </div>
</div>
<!-- Chart JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<!-- Chart JS Plugin for displaying text over chart -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.min.js"></script>
<!-- Script -->
<script src="js/script.js"></script>